@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: white; /* light grey/blue, very clean */
}
.safe-top {
  padding-top: env(safe-area-inset-top);
}
.safe-top-offset {
  top: env(safe-area-inset-top);
}

.categories-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.input {
  @apply w-full p-3 border border-gray-300 rounded-xl focus:ring-2 focus:ring-instafitcore-green;
}
.textarea {
  @apply w-full p-3 border border-gray-300 rounded-xl mb-4 min-h-[90px];
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}